body {
  text-align: center;
  background: url("background-blur-clean-531880.jpg");
  background-size: cover;
  color: #000000;
  font-family: helvetica;
}

img {
 width: 300px;
 height: 300px;
}

p {
  font-size: 26px;
  font-weight: bold;
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}
input[type="submit"] {
  background: red;
  color: white;
}

